version: "3.9"

services:
  api:
    build: .
    container_name: rag_api
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - qdrant

  postgres:
    image: postgres:15
    container_name: rag_postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: rag_logs
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: rag_redis
    ports:
      - "6379:6379"

  qdrant:
    image: qdrant/qdrant
    container_name: rag_qdrant
    ports:
      - "6333:6333"